<%- include("./views/auth-header") -%>
<!-- Login Form -->
<%if (data.error_message) { %>
    <h4 class="alert alert-danger mt-4"><%= data.error_message %></h4>
<% } %>
<%if (data.success_message) { %>
    <h4 class="alert alert-success mt-4"><%= data.success_message %></h4>
<% } %>
<form autocomplete="off" action="/change-password" method="POST">
    <div class="text-center pt-4">
        <h1><i class="fas fa-user"></i></h1>
        <h2>Change Password</h2>
        <hr style = "width: 50%; height:2px; background-color: #56baed;">
    </div>
    <input type="text" autocomplete="off" id="user_id" name="user_id" hidden readonly value=<%= data.user_id %>>
    <input type="password" autocomplete="off" id="old_password" name="old_password" placeholder="Old Password" required>
    <input type="password" autocomplete="off" id="new_password"  name="new_password" placeholder="New Password" required>
    <input type="password" autocomplete="off" id="confirm_password"  name="confirm_password" placeholder="Confirm New Password" required>
    <input class="mt-4" type="submit"  value="Change Password">
</form>
      
<%- include("./views/auth-footer") -%>

