<%- include("./views/header") -%>
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <div class="card">
            <div class="card-header">
              Details
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Name : <%=data.user.name%>
                </h5>
                <h5 class="card-title">
                    User Id : <%=data.user.user_id%>
                </h5>
                <h5 class="card-title">
                    Email : <%=data.user.email%>
                </h5>
                <h5 class="card-title">
                    Contact : <%=data.user.contact%>
                </h5>
                <h5 class="card-title">
                    Profile Verified : <%=data.user.profile_verified%>
                </h5>
                <h5 class="card-title">
                    Mode : <%=data.user.mode%>
                </h5>
                <% if(data.user.profile_verified == "false"){ %>
                    <p class="card-text">To verify your account, please Whatsapp a photo of Aadhaar-card of the student on 9999999999</p>
                <% } %>
            </div>
        </div>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Personal Details</li>
        </ol> -->
        <!-- <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Primary Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Warning Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Success Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Danger Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>    -->
    </div>
    
</main>
<%- include("./views/footer") -%>