<%- include("./views/header") -%>
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Past Performance</h1>
        <ol class="breadcrumb mb-4">
            
            <li class="breadcrumb-item active">This page shows all your past performances</li>
        </ol>
        
        <div class="card mb-4">
            
            <!-- <div class="card-body"> -->
                <table class="table table-striped" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Paper Name</th>
                            <th>Date Time</th>
                            <th>Total Questions</th>
                            <th>Attempted Questions</th>
                            <th>Correct Answers</th>
                            <th>Wrong Answers</th>
                            <th>Total Score</th>
                            <th>Your Score</th>
                            <th>More Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0;i<data.attempts.length; i++){ %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= data.attempts[i].event_name %></td>
                                <td><%= data.attempts[i].date_time %></td>
                                <td><%= data.attempts[i].total_questions %></td>
                                <td><%= data.attempts[i].attempted %></td>
                                <td><%= data.attempts[i].correct_answers %></td>
                                <td><%= data.attempts[i].wrong_answers %></td>
                                <td><%= data.attempts[i].total_score %></td>
                                <td><%= data.attempts[i].your_score %></td>
                                <td><button class="btn btn-outline-secondary" onclick="location.href='/past-performance-detailed/<%=data.attempts[i].attempt_id%>';">Details</button></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <!-- </div> -->
        </div>
    </div>
</main>
<%- include("./views/footer") -%>