<%- include("./views/header") -%>
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Details for attempt</h1>
        <ol class="breadcrumb mb-4">
            
            <li class="breadcrumb-item active">This page shows all questions which were part of test <%= data.details[0].event_name %></li>
        </ol>
                <table class="table table-striped" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Attempt Id</th>
                            <th>Question</th>
                            <th>Correct Answer</th>
                            <th>Your Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0;i<data.details.length; i++){ %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= data.details[i].attempt_id %></td>
                                <td><%= data.details[i].question %></td>
                                <td><%= data.details[i].correct_answer %></td>
                                <td><%= data.details[i].your_answer %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
    </div>
</main>
<%- include("./views/footer") -%>